{{ header }}
<div class="container">
  
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  
  <div class="row">
  
  {{ column_left }}
  
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9 col-sm-8' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    
    <div id="content" class="{{ class }}">
    {{ content_top }}
      <h1 id="page-title">{{ heading_title }}</h1>

      {{ info }}

      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      
      {% if products %}
      <div id="product-view" class="grid">
      
      <div class="table filter">
      
      	<div class="table-cell nowrap hidden-sm hidden-md hidden-lg"><a class="filter-trigger-btn"></a></div>
          
          <div class="table-cell nowrap hidden-xs">
          <a id="grid-view" class="view-icon grid" data-toggle="tooltip" data-title="{{ button_grid }}"><i class="fa fa-th"></i></a>
          <a id="list-view" class="view-icon list" data-toggle="tooltip" data-title="{{ button_list }}"><i class="fa fa-th-list"></i></a>
          </div>
          
          <div class="table-cell w100">
          <a href="{{ compare }}" id="compare-total" class="hidden-xs">{{ text_compare }}</a>
          </div>
          
          <div class="table-cell nowrap text-right">
          <div class="sort-select">
          <span class="hidden-xs">{{ text_sort }}</span>
          <select id="input-sort" class="form-control input-sm inline" onchange="location = this.value;">
            {% for sorts in sorts %}
            {% if sorts.value == '%s-%s'|format(sort, order) %}
            <option value="{{ sorts.href }}" selected="selected"> {{ sorts.text }}</option>
            {% else %}
            <option value="{{ sorts.href }}" >{{ sorts.text }}</option>
            {% endif %}
            {% endfor %}
          </select>
          </div>
          </div>
          
          <div class="table-cell nowrap text-right hidden-xs hidden-sm">
          <span>{{ text_limit }}</span>
          <select id="input-limit" class="form-control input-sm inline" onchange="location = this.value;">
            {% for limits in limits %}
            {% if limits.value == limit %}
            <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
            {% else %}
            <option value="{{ limits.href }}">{{ limits.text }}</option>
            {% endif %}
            {% endfor %}
          </select>
          </div>
      
      </div>
      
      <div class="grid-holder product-holder grid{{ basel_prod_grid }}">
        {% for product in products %}
        {% include 'basel/template/product/single_product.twig' %}
        {% endfor %}
      </div>
      </div> <!-- #product-view ends -->
      
      <div class="row pagination-holder">
        <div class="col-sm-6 xs-text-center">{{ pagination }}</div>
        <div class="col-sm-6 text-right xs-text-center"><span class="pagination-text">{{ results }}</span></div>
      </div>
      
      {% else %}
      	<p>{{ text_empty }}</p>
      {% endif %}
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
{{ footer }}