<template>

	<Header />

	<router-link :to="{ name: 'clients.create' }">Adauga client</router-link>
	
	<table width="600">
		<thead>
			<tr>
				<th>name</th>
				<th>action</th>
			</tr>			
		</thead>
		<tbody>
			<template v-for="item in clients" :key="item.id">
				<tr>
					<td>
						{{ item.name }}
					</td>
					<td align="center">
						<router-link :to="{ name: 'clients.edit', params: { id: item.id } }">Editeaza</router-link> | 
						<button @click="deleteClient(item.id)">Sterge</button>
					</td>
				</tr>
			</template>
		</tbody>
	</table>

</template>

<script>
	import Header from '../../components/Header'
	import Footer from '../../components/Footer'
	import useClients from '../../composables/clients';
	import { onMounted } from 'vue';

	export default{
		setup(){

			const { clients, getClients, destroyClient } = useClients();

			onMounted(getClients);

			const deleteClient = async (id) => {

				if(!window.confirm('Esti sigur?')){
					return;
				}

				await destroyClient(id);
				await getClients();
			}

			return {
				clients,
				deleteClient
			}
			
		},
		components: {
			Header,
			Footer
		}
	}
</script>