<template>

	<Header />

	Editare client:<br>

	<div v-if="errors !==''">
		{{ errors }}
	</div>

	<form v-on:submit.prevent="saveClient">
		<label for="name"></label>
		<input type="text" name="name" id="name" v-model="client.name">

		<input type="submit" value="Salveaza">
	</form>

</template>

<script>
	import Header from '../../components/Header'
	import Footer from '../../components/Footer'
	import useClients from '../../composables/clients';
	import { onMounted } from 'vue';

	export default {

		props: {
			id: {
				required: true,
				type: String
			}
		},

		setup(props) {

			const { errors, client, getClient, updateClient } = useClients();

			onMounted(getClient(props.id));

			const saveClient = async () => {
				await updateClient(props.id);
			}

			return {
				errors,
				client,
				saveClient
			}
		}
		,
		components: {
			Header,
			Footer
		}

	}

</script>