<template>

	<Header />

	Adaugare client:<br>

	<div v-if="errors !==''">
		{{ errors }}
	</div>
	
	<form @submit.prevent="saveClient">
		<label for="name"></label>
		<input type="text" name="name" id="name" v-model="form.name">

		<input type="submit" value="Salveaza">
	</form>

</template>

<script>
	import Header from '../../components/Header'
	import Footer from '../../components/Footer'
	import { reactive } from 'vue';
	import useClients from '../../composables/clients';

	export default {
		setup(){

			const form = reactive({
				'name': ''
			});

			const { errors, storeClient } = useClients();

			const saveClient = async () => {
				await storeClient({...form});
			}

			return {
				form,
				errors,
				saveClient
			}
		}
		,
		components: {
			Header,
			Footer
		}
	}
	
</script>