<template>
  <GMapMap
      :center="center"
      :zoom="10"
      style="width: 300px; height: 300px"
  >
  <GMapMarker
        :key="position.id"
        v-for="position in positions"
        :position="{ lat: position.lat, lng: position.lng }"
        :icon="marker_icon"
        :clickable="true"
      @click="openMarker(position.id)"
      @closeclick="openMarker(null)"
    >
    <GMapInfoWindow
        :closeclick="true"
        @closeclick="openMarker(null)"
        :opened="openedMarkerId === position.id"
      >
        <div>Ora: {{ position.msg_time }}</div>
      </GMapInfoWindow>

	</GMapMarker>

  </GMapMap>
</template>

<script>
	import usePositions from '../../composables/positions';
	import { onMounted } from 'vue';

	export default {

		setup(){

			const { positions, getPositions } = usePositions();

			const center = { lat: 45.032156993288524, lng: 23.265145692155684 }

			const marker_icon = 'https://icons.iconarchive.com/icons/martz90/hex/24/car-icon.png';

			onMounted(getPositions);

			return {
				positions,
				getPositions,
				center,
				marker_icon
			}

		},
		methods: {
			openMarker(id){
				this.openedMarkerId = id;
			}
		}
	}
</script>