.main-menu.vertical > ul > li > a{
	color: #111111;
}
.main-menu.vertical .menu-heading{
	background-color: #da0017;
}

.full-search-wrapper{
	width: 89%;
	border-width: 1px;
}

.full-search-wrapper .search-main input,
.sticky-header.short .full-search-wrapper .search-main input{
	height: 35px !important;
	min-height: 35px !important;
}

.sticky-enabled.sticky-active .table-cell.menu-cell:not(.vertical), .sticky-enabled.sticky-active .main-menu:not(.vertical) > ul, .sticky-enabled.sticky-active .main-menu:not(.vertical) > ul > li, .sticky-enabled.sticky-active .main-menu:not(.vertical) > ul > li > a, .sticky-enabled.sticky-active .main-menu:not(.vertical) > ul > li.dropdown-wrapper > a .fa-angle-down{
	line-height: 30px !important;
}

.menu-trigger-left{
	float: left;
}
.menu-trigger-left .shortcut-wrapper.menu-trigger{
	margin-right: 0;
	margin-left: -10px
}

#logo img {
	margin-top: -15px;
}

.header-style.short #logo img {
	margin-top: -5px;
}

.title_in_bc .breadcrumb-holder #title-holder{
	text-transform: none;
}

.default_bc .breadcrumb-holder{
	background: #FFFFFF;
	box-shadow: none;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
}

.product-info .table-cell.right h1#page-title{
	font-size: 26px;
	font-weight: bold;
}

.btn.btn-cart{
	background-color: #d41212;
}
.btn.btn-cart:hover{
	background-color: #ab0404 !important;
}

.btn.btn-wishlist{
	background-color: #FFFFFF;
    border: none;
    color: #d41212;
    font-size: 36px;
    padding: 2px 3px 2px 3px;
    margin-left: 6px;
}
.btn.btn-wishlist:hover{
	background-color: #FFFFFF !important;
	color: #ab0404 !important;
}

.info.stock_label{
	color: #FFF;
    display: inline-block;
    padding: 2px 6px;
    font-size: 12px;
}
.info.stock_label.in_stock{
    background: #090;
}
.info.stock_label.out_of_stock{
    background: #de7030;
}

.product-info .table-cell.right .price-old{
	display: block;
}

.rating_stars{
	font-family: "FontAwesome";
    display: inline-block;
    position: relative;
    color: #ccc;
    letter-spacing: 3px;
    height: 18px;
    line-height: 18px;
    font-size: 16px;
}
.rating_stars:before {
    content: "\f005\f005\f005\f005\f005";
}
.rating_stars_inside{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;
}
.rating_stars_inside:before{
    content: "\f005\f005\f005\f005\f005";
    color: #f9bf3b;
}
.product-info .table-cell.right .rating{
	margin: 0 5px 0 0;
}

.rating-stars label i,
.rating-stars input[type="radio"]:checked + label i:before{
	color: #f9bf3b;
}



.delivery-estimate{
 	width: 380px;
 	margin: 0;
 	border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    padding: 8px 0;
}
.delivery-estimate .col{
	padding: 0;
}
.delivery-estimate .fa-truck{
	font-size: 22px;
	margin-top: 8px;
}
.delivery-estimate .estimate{
	color: #04a404;
}
.delivery-estimate .cost{
	display: inline-block;
	margin-top: 8px;
}

.cart_vendor_row{
	background: #fafafa;
}
.cart_vendor_row td{
	padding: 12px 12px !important;
    font-size: 16px;
}

.cart_vendor_total_row td table{
	float: right;
	width: 200px;
}


.recommended{
	background: #059c05;
    color: #FFF;
    padding: 2px 5px;
    font-size: 12px;
    border-radius: 4px;
}







@media (min-width: 992px) {
	.main-menu > ul > li > a, .main-menu-wrapper > ul > li > a{
		padding-right: 25px;
		padding-left: 0; 
	}
}




@media (max-width: 991px) {
	#logo img {
		max-height: 80% !important;
	}
	.shortcut-wrapper.wishlist{
		padding: 0 3px 0 3px;
	}
	.shortcut-wrapper .counter{
		left: 18px;
	}
	#cart .shortcut-wrapper .counter{
		left: 25px;
	}
	.shortcut-wrapper.wishlist.menu-trigger{
		margin-right: 0;
	}
	.delivery-estimate{
		width: 100%;
	}
}

