<div class="header-wrapper header6">

{% if top_line_style %}
<div class="top_line">
  <div class="container {{ top_line_width }}">
  	<div class="table">
        <div class="table-cell left sm-text-center xs-text-center">
            <div class="promo-message">{{ promo_message }}</div>
        </div>
        <div class="table-cell text-right hidden-xs hidden-sm">
            <div class="links">
            <ul>
            {% include 'basel/template/common/static_links.twig' %}
            </ul>
            {% if lang_curr_title %}
            <div class="setting-ul">
            <div class="setting-li dropdown-wrapper from-left lang-curr-trigger nowrap"><a>
            <span>{{ lang_curr_title }}</span>
            </a>
            <div class="dropdown-content dropdown-right lang-curr-wrapper">
            {{ language }}
            {{ currency }}
            </div>
            </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div> <!-- .table ends -->
  </div> <!-- .container ends -->
</div> <!-- .top_line ends -->
{% endif %}

<span class="table header-main sticky-header-placeholder slidedown">&nbsp;</span>
<div class="sticky-header slidedown outer-container header-style">
  <div class="container {{ main_header_width }}">
    <div class="table header-main {{ main_menu_align }}">
   
    <div class="table-cell text-left w20 logo">
        <div class="icon-element menu-trigger-left hidden-md hidden-lg">
        <a class="shortcut-wrapper menu-trigger">
        <i class="icon-line-menu icon"></i>
        </a>
        </div>

    	{% if logo %}
        <div id="logo">
    	<a href="{{ base_url }}"><img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" /></a>
        </div>
    	{% endif %}
    </div>
    
    {% if primary_menu %}
    <div class="table-cell text-center w60 menu-cell hidden-xs hidden-sm">
        {{ basel_search }}
    </div>
    {% endif %}
    
    <div class="table-cell w20 shortcuts text-right"> 
       
       <div class="font-zero">

        <div class="icon-element is_wishlist hidden-md hidden-lg">
        <a class="shortcut-wrapper wishlist menu-trigger">
        <i class="icon-search icon"></i>
        </a>
        </div>

        <div class="icon-element is_wishlist">
        <a class="shortcut-wrapper wishlist" href="{{ account }}">
        <div class="wishlist-hover"><i class="icon-user icon"></i></div>
        </a>
        </div>

        <div class="icon-element is_wishlist">
        <a class="shortcut-wrapper wishlist" href="{{ wishlist }}">
        <i class="icon-heart icon"></i><span class="counter wishlist-counter">{{ wishlist_counter }}</span>
        </a>
        </div>
        
        <div class="icon-element catalog_hide">
        <div id="cart" class="dropdown-wrapper from-top">
        <a href="{{ shopping_cart }}" class="shortcut-wrapper cart">
        <i id="cart-icon" class="global-cart icon"></i> <span id="cart-total" class="nowrap">
        <span class="counter cart-total-items">{{ cart_items }}</span> <span class="slash hidden-md hidden-sm hidden-xs">/</span>&nbsp;<b class="cart-total-amount hidden-sm hidden-xs">{{ cart_amount }}</b>
        </span>
        </a>
        <div class="dropdown-content dropdown-right hidden-sm hidden-xs">
        {{ cart }}
        </div>
		</div>
        </div>

       </div>
        
    </div>
    
    </div> <!-- .table.header_main ends -->
  </div> <!-- .container ends -->
</div> <!-- .sticky ends -->

<div class="outer-container header-bottom hidden-xs hidden-sm">
<div class="container {{ main_header_width }}">
	<div class="table">
        <div class="table-cell w100">
            <div class="main-menu">
                <ul class="categories">
                  {% if primary_menu == 'oc' %}
                    <!-- Default menu -->
                    {{ default_menu }}
                  {% elseif primary_menu is defined %} 
                    <!-- Mega menu -->
                    {% for key, row in primary_menu_desktop %}
                    {% include 'basel/template/common/menus/mega_menu.twig' %}
                    {% endfor %}
                  {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div><!-- .container ends -->
</div>

</div> <!-- .header_wrapper ends -->