/*
 * Skin: Purple
 * ------------
 */
 .skin-custom .main-header .navbar {
  background-color: #FAD013;
}
.skin-custom .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.skin-custom .main-header .navbar .nav > li > a:hover,
.skin-custom .main-header .navbar .nav > li > a:active,
.skin-custom .main-header .navbar .nav > li > a:focus,
.skin-custom .main-header .navbar .nav .open > a,
.skin-custom .main-header .navbar .nav .open > a:hover,
.skin-custom .main-header .navbar .nav .open > a:focus,
.skin-custom .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.skin-custom .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.skin-custom .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.skin-custom .main-header .navbar .sidebar-toggle:hover {
  background-color: #000000;
}
@media (max-width: 767px) {
  .skin-custom .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .skin-custom .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .skin-custom .main-header .navbar .dropdown-menu li a:hover {
    background: #000000;
  }
  #modal-create-awb .modal-dialog{
    width: 95%;
  }
}
.skin-custom .main-header .logo {
  background-color: #FAD013;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.skin-custom .main-header .logo:hover {
  background-color: #2f8653;
}
.skin-custom .main-header li.user-header {
  background-color: #FAD013;
}
.skin-custom .content-header {
  background: transparent;
}
.skin-custom .wrapper,
.skin-custom .main-sidebar,
.skin-custom .left-side {
  background-color: #f9fafc;
}
.skin-custom .main-sidebar {
  border-right: 1px solid #d2d6de;
}
.skin-custom .user-panel > .info,
.skin-custom .user-panel > .info > a {
  color: #444444;
}
.skin-custom .sidebar-menu > li {
  -webkit-transition: border-left-color 0.3s ease;
  -o-transition: border-left-color 0.3s ease;
  transition: border-left-color 0.3s ease;
}
.skin-custom .sidebar-menu > li.header {
  color: #848484;
  background: #f9fafc;
}
.skin-custom .sidebar-menu > li > a {
  border-left: 3px solid transparent;
  font-weight: 600;
}
.skin-custom .sidebar-menu > li:hover > a,
.skin-custom .sidebar-menu > li.active > a {
  color: #000000;
  background: #f4f4f5;
}
.skin-custom .sidebar-menu > li.active {
  border-left-color: #FAD013;
}
.skin-custom .sidebar-menu > li.active > a {
  font-weight: 600;
}
.skin-custom .sidebar-menu > li > .treeview-menu {
  background: #f4f4f5;
}
.skin-custom .sidebar a {
  color: #444444;
}
.skin-custom .sidebar a:hover {
  text-decoration: none;
}
.skin-custom .sidebar-menu .treeview-menu > li > a {
  color: #777777;
}
.skin-custom .sidebar-menu .treeview-menu > li.active > a,
.skin-custom .sidebar-menu .treeview-menu > li > a:hover {
  color: #000000;
}
.skin-custom .sidebar-menu .treeview-menu > li.active > a {
  font-weight: 600;
}
.skin-custom .sidebar-form {
  border-radius: 3px;
  border: 1px solid #d2d6de;
  margin: 10px 10px;
}
.skin-custom .sidebar-form input[type="text"],
.skin-custom .sidebar-form .btn {
  box-shadow: none;
  background-color: #fff;
  border: 1px solid transparent;
  height: 35px;
}
.skin-custom .sidebar-form input[type="text"] {
  color: #666;
  border-top-left-radius: 2px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 2px;
}
.skin-custom .sidebar-form input[type="text"]:focus,
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  background-color: #fff;
  color: #666;
}
.skin-custom .sidebar-form input[type="text"]:focus + .input-group-btn .btn {
  border-left-color: #fff;
}
.skin-custom .sidebar-form .btn {
  color: #999;
  border-top-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 0;
}
@media (min-width: 768px) {
  .skin-custom.sidebar-mini.sidebar-collapse .sidebar-menu > li > .treeview-menu {
    border-left: 1px solid #d2d6de;
  }
  #modal-create-awb .modal-dialog{
    width: 80%;
  }
}


/* Login */

.login-page, .register-page{
  background: #FAD013;
}
.login-logo{
  color: #ffffff;
}
.login-footer{
  color: #FFFFFF;
}
.auth-error{
  color: #cc0000;
}

.float-left{
  float: left;
}

.box-filters{
  padding: 15px 30px;
}
.box-filters label{
  display: block;
}
.box-filters input[type=text],
.box-filters select{
  width: 100%;
}
.box-filters input[type=text]{
  padding: 3px 6px;
}
.box-filters select{
  padding: 4px 6px;
}

.dataTables_length{
  border: 1px solid #ddd;
  background: #fefefe;
  padding: 8px 10px 4px;
  margin-top: 10px;
}
.dataTables_length label{
  font-weight: normal;
}
.dataTables_length label select{
  border: none;
  color: #666;
}

.dataTables_paginate {
  margin-top: 10px;
}
.dataTables_paginate .paginate_button {
  padding: 3px 10px !important;
}
.dataTables_paginate .paginate_button.current {
  border: none !important;
  background: #fefefe !important;
}
#dataTables_info_new{
  margin: 10px 0 0 15px;
}

#datatable .client_name{
  font-weight: bold;
  display: block;
}
#datatable .date_added_day{
  display: block;
}

#datatable .order_details{
  width: 100%;
}
#datatable .order_details td{
  vertical-align: top;
}
#datatable .order_details .shipping{
  width: 28%;
}
#datatable .order_details .shipping hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
#datatable .order_details .shipping .shipping_name{
  font-weight: bold;
}
#datatable .order_details .shipping .shipping_address{
  display: block;
}
#datatable .order_details .products{
  width: 62%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}
#datatable .order_details .products table{
  width: 100%;
}
#datatable .order_details .products table .product{
  border-bottom: 1px solid #EEE; 
}
#datatable .order_details .products table .product_total,
#datatable .order_details .products table .order_total{
  text-align: right;
}
#datatable .order_details .products table .total{
  background: #F7F7F7;
  font-weight: bold;
}


#datatable tr.order_details_container:hover,
#datatable tr.order_details_container tr:hover{
  background-color: #FFFFFF;
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ellipsis div {
  position: absolute;
  top: 27px;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 6px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 6px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 26px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 45px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}



#add_option{
  width: 95%;
}
.characteristic_option input{
  display: inline-block;
  width: 95%;
  margin-bottom: 10px;
}
.characteristic_option .remove{
  cursor: pointer;
  color: red;
}

.content-header h1{
  display: inline-block;
}
.content-header .add-new{
  float: right;
}


.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}

#uploaded_images{
  list-style: none;
  margin: 10px 0 0 0;
  padding: 0;
}
#uploaded_images li{
  display: inline-block;
  margin: 0 10px 10px 0;
  position: relative;
}
#uploaded_images li .remove-image{
  position: absolute;
  top: -8px;
  right: -8px;
  background: #F00;
  opacity: 0.6;
  padding: 2px 8px;
  color: #FFF;
  border-radius: 12px;
  cursor: pointer;
}
#uploaded_images li .remove-image:hover{
  opacity: 0.9;
}



form .input-file-trigger {
  display: block;
  padding: 14px 0;
  text-align: center;
  background: #777777;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
  border-radius: 12px;
  margin-top: 5px;
}
form .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
form .input-file:hover + .input-file-trigger,
form .input-file:focus + .input-file-trigger,
form .input-file-trigger:hover,
form .input-file-trigger:focus {
  background: #484848;
  color: #FFF;
}

form .input-file-trigger.file-xls{
  background: #FFF;
  border: 2px solid #398439;
  margin: 80px 30px 80px 30px;
  color: #398439;
}

.labelled_text{
  padding: 3px 8px;
  border-radius: 5px;
  color: #fff;
}
.labelled_text.status_gray{
  background: #c3c3c3;
}
.labelled_text.status_black{
  background: #000000;
}
.labelled_text.status_blue{
  background: #019be4;
}
.labelled_text.status_green{
  background: #16a616;
}
.labelled_text.status_purple{
  background: #e665e6;
}
.labelled_text.status_orange{
  background: #ffbc42;
}
.labelled_text.status_red{
  background: #cd0303;
}

.btn-link{
  padding: 0;
}

.edit-order-page .details-content{
  padding: 10px;
}
.edit-order-page .details-content .details-row{

}
.edit-order-page .order-products,
.edit-order-page .order-awbs{
  padding: 10px 20px 20px 20px;
}
.edit-order-page #products-list,
.edit-order-page #awbs-list,
#couriers-list{
  width: 100%;
}
.edit-order-page #products-list tr.header,
.edit-order-page #awbs-list tr.header,
#couriers-list tr.header{
  font-weight: bold;
  border-bottom: 2px solid #DDD;
}
.edit-order-page #awbs-list td,
.edit-order-page #products-list td,
#couriers-list td{
  padding: 10px;
}
.edit-order-page #products-list .product-quantity,
.edit-order-page #products-list .product-price,
.edit-order-page #products-list .order-total,
.edit-order-page #products-list .product-total{
  text-align: right;
}
.edit-order-page #products-list .item,
.edit-order-page #awbs-list .item{
  border-bottom: 1px solid #EEE;
}
.edit-order-page #products-list .total{
  background: #F7F7F7;
  font-weight: bold;
}

.print-order-page h1{
  text-align: center;
  font-size: 20px;
}

.order_status_id .select2 {
  width: 220px !important;
  margin: 0 0 10px 10px;
}

.content-header .create_awb,
.content-header .save_changes,
.content-header .cancel_changes{
  float: right;
  margin: 0 3px;
}
.content-header .cancel_changes{
  margin-top: 5px;
}
i.fa-remove{
  color: #cd0303;
}

.status_option:before{
  font-family: FontAwesome;
  content: "\f111";
  margin-right: 5px
}
.status_gray:before{
  color: #c3c3c3;
}
.status_black:before{
  color: #000000;
}
.status_blue:before{
  color: #019be4;
}
.status_green:before{
  color: #16a616;
}
.status_purple:before{
  color: #e665e6;
}
.status_orange:before{
  color: #ffbc42;
}
.status_red:before{
  color: #cd0303;
}

.couriers_list .courier{
  margin: 20px;
}
.couriers_list .courier img{
  padding: 10px;
}
.couriers_list .courier img:hover{
  padding: 9px;
  border: 1px dashed #999;
}

h5.modal-title{
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

.create-awb-iframe{
  width: 100%;
  height: 600px;
}

.create_awb_content .couriers_list .courier{
  margin: 0;
  text-align: center;
}
.create_awb_content .couriers_list .courier .logo{
  width: 100px;
  cursor: pointer;
}
.create_awb_content .couriers_list .courier .logo.disabled{
  filter: grayscale(100%);
}
.create_awb_content .couriers_list .courier .logo:hover{
  padding: 10px;
  border: none;
}
.create_awb_content .couriers_list .courier .logo.selected{
  padding: 8px;
  border: 2px dashed #999;
}
.create_awb_content h5{
  border-bottom: 1px solid #DDD;
  padding-bottom: 10px;
}

#content_to_print{
  display: none;
}

@media print {
  #content_to_print{
    display: block;
  }
}


.btn.edit_fields{
  float: right;
}

.editable_field{
  display: inline-block;
}
.editable_field .field{
/*  padding: 3px 3px;
  height: 18px;*/
  display: inline-block;
  width: auto;
  margin-bottom: 5px;
}

.ui-tooltip{
  border-width: 0px;
  background-color: #333;
  color: #FFF;
  font-size: 12px;
}
.ui-widget-content{
  border: none;
}

.import-products{
  float: right;
}
.import-products .btn{
  margin: 0 10px;
}

.import_products_errors ul li{
  padding: 5px;
}