<template>
	Header
	<br>
	<router-link :to="{ name: 'home'} " class="home-link">Acasa</router-link> | 
	<router-link :to="{ name: 'clients.index'} " class="clients-link">Clienti</router-link>
	<br>
	<br>
</template>

<script>
	export default {
		name: "Header"
	}
</script>

<style scoped>
.home-link{
	color: red;
}

</style>