<template>
	<Header />
	<br>
	<br>
	Homeeee
	<br>
	<br>
	<br>
	<br>
	<Footer />
</template>

<script>
	import Header from '../components/Header'
	import Footer from '../components/Footer'

	export default {
		name: 'home',
		components: {
			Header,
			Footer
		}
	}
</script>